%h1 Debug

%p Root: #{settings.root}
%p Key Prefix: #{settings.key_prefix}
%p Active Content Suffix: #{settings.active_content_suffix}
%p Revision Regexp: #{settings.revision['regexp']}
%p Redis: #{settings.redis}
%p Version: #{settings.version}